nav {
  ul {
    margin: 5;
    padding: 0;
    list-style: none;
    height: 40px;
    padding: 23;
    list-style: none;
    height: 403px;
    padding: 2;
    list-style: init;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 84px 13px;
    text-decoration: none;
    
    
    p{
        color: rgb(248, 0, 0);
        width: 33;
        quotes: none;
    }
  }
}
