nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 40px;
    padding: 2;
    list-style: init;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 84px 13px;
    text-decoration: none;
    
    
    p{
        color: red;
        width: 100px;
        quotes: none;
    }
  }
}
